<?xml version="1.0"?>
<config>
    <modules>
        <Hirale_Queue>
            <version>2.0.0</version>
        </Hirale_Queue>
    </modules>
    <global>
        <models>
            <hirale_queue>
                <class>Hirale_Queue_Model</class>
                <resourceModel>hirale_queue_resource</resourceModel>
            </hirale_queue>
            <hirale_queue_resource>
                <class>Hirale_Queue_Model_Resource</class>
                <entities>
                    <job>
                        <table>hirale_queue_job</table>
                    </job>
                </entities>
            </hirale_queue_resource>
        </models>
        <helpers>
            <hirale_queue>
                <class>Hirale_Queue_Helper</class>
            </hirale_queue>
        </helpers>
        <blocks>
            <hirale_queue>
                <class>Hirale_Queue_Block</class>
            </hirale_queue>
        </blocks>
        <resources>
            <hirale_queue_setup>
                <setup>
                    <module>Hirale_Queue</module>
                </setup>
            </hirale_queue_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <hirale_queue_process>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hirale_queue/task::process</model>
                </run>
            </hirale_queue_process>
        </jobs>
    </crontab>
    <default>
        <hirale_queue>
            <settings>
                <enabled>0</enabled>
                <dsn></dsn>
                <stream_key>hirale_queue_stream</stream_key>
                <group>hirale_queue</group>
                <consumer>hirale_queue_worker</consumer>
                <count>10</count>
                <publish_limit>100</publish_limit>
                <pending_idle_seconds>300</pending_idle_seconds>
                <success_retention_days>7</success_retention_days>
                <failure_retention_days>30</failure_retention_days>
            </settings>
        </hirale_queue>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hirale_Queue before="Mage_Adminhtml">Hirale_Queue_Adminhtml</Hirale_Queue>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
