<?xml version="1.0"?>
<config>
    <modules>
        <Hirale_Queue>
            <version>1.1.0</version>
        </Hirale_Queue>
    </modules>
    <global>
        <models>
            <hirale_queue>
                <class>Hirale_Queue_Model</class>
            </hirale_queue>
        </models>
        <helpers>
            <hirale_queue>
                <class>Hirale_Queue_Helper</class>
            </hirale_queue>
        </helpers>
        <resources>
            <hirale_queue_setup>
                <setup>
                    <module>Hirale_Queue</module>
                </setup>
            </hirale_queue_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <hirale_queue_process>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hirale_queue/task::process</model>
                </run>
            </hirale_queue_process>
        </jobs>
    </crontab>
    <default>
        <hirale_queue>
            <settings>
                <enabled>0</enabled>
                <dsn></dsn>
                <stream_key>hirale_queue_stream</stream_key>
                <group>hirale_queue</group>
                <consumer>hirale_queue_worker</consumer>
                <count>10</count>
            </settings>
        </hirale_queue>
    </default>
</config>
